<h3 style="text-align: center">Add new restaurant</h3>
<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 col-md-offset-3 col-md-6">
      <%= simple_form_for @restaurant do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :phone_number %>
        <%= f.input :category %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
