<h3 style="text-align: center">Enter your review for <%= @restaurant.name %></h3>
<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 col-md-offset-3 col-md-6">
      <%= simple_form_for [ @restaurant, @review ] do |f| %>
        <%= f.input :content %>
        <%= f.input :rating %>
        <%= f.button :submit, "Add review", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
